@import '../../../styles/settings.scss';

.component {
  position: relative;
  text-align: center;
  color: rgb(168, 15, 15);
}

.title, .promoDescription {
  position: absolute;
  width: 100%;
}

.title {
  bottom: 40px;
}

.promoDescription {
  bottom: 10px;
}